*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 90%;
    background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(126,66,66,1) 50%, rgba(238,47,211,1) 100%, rgba(202,45,253,1) 100%);
    min-height: 100vh;
    display: grid;
    margin: auto;
    align-content: center;
    font-family: sans-serif;
    padding: 2rem 0;
}



/* Conteniener principal */
.parent{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto 1fr;
    gap: 3rem;
    place-content: center;
}
/* Fin de conteiner principal */

/* Imagenes de perfil */
img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease-out;
}

img:hover{
    box-shadow: 10px 8px 13px 1px rgba(0,0,0,0.8);
    transform: scale(1.2);
}
/* Fin de imagenes de perfil */

/* Caja de perfiles */
.caja-targetas{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
    justify-items: center;
    gap: 1rem;
}
/* Fin Caja de perfiles */



/* Caja de contenido de los perfiles*/
.content{
    display: grid;
    gap: 1.5rem;
    background-color: rgba(107, 35, 145,0.9);
    color: #fff;
    border-radius: 10px;
    padding: 1.5rem;
}

/* nombre de perfil */
.profile-box{
    display: flex;
    align-items: center;
}
.profile-box > img{
    width: 40px;
    height: 40px;
    box-shadow: none;
    border: 2px solid #ccc;
}

.profile-info{
    margin-left: 1rem;
}

.profile-info h2{
    font-size: 1rem;
}

.profile-info span{
    font-size: .7rem;
}
/* Fin de nombre de perfil */

.content p:first-of-type{
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.content p:last-of-type{
    font-size: .9rem;
    font-weight: lighter;
    line-height: 1.3rem;
}

/* Fin Caja de contenido de los perfiles */


/* Breakpoints */

@media screen and (min-width: 1024px){
    body{
        max-width: 700px;
        width: 100%;
    }
    .caja-targetas{
        grid-template-columns: repeat(5,1fr);
    }
}